input, select, textarea{
    outline: none;
    box-sizing: border-box;

    &:active, &:focus{
        outline: none;
    }

}

button{
    outline: none;

    &:active, &:focus{
        outline: none;
    }
}

